* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid blue;
  }
  
  